$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Przykład do uzycia w style.scss
/*
h1 {
  color: white;

  @include sm {
    color: green;
  }
}
*/

@mixin watermark($text, $color: $watermark-color) {
  overflow: hidden;
  position: relative;
  box-shadow: $box-shadow;
  &::after {
    content: $text;
    position: absolute;
    bottom: -6rem;
    left: -2rem;
    font-size: 20rem;
    white-space: nowrap;
    color: $color;
  }
}
