.footer {
  padding: $section-padding;
  min-height: 10rem;
  @include watermark("footer");
  background-color: $color2;

  .footer__copyright {
    position: absolute;
    bottom: 20px;
    right: 20px;

    p {
      font-size: 1.2rem;
    }
  }
}
