* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}
