html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  background: $color1;
  color: $color0;
  font-size: 10px;
}

p {
  line-height: 1.4;
  font-size: 1.6rem;
}

a {
  color: $color3;
  transition-duration: 0.3s;
}

h1 {
  font-size: 6.4rem;
  margin-bottom: 20px;
  color: $color0;
}

h2 {
  margin-bottom: 20px;
  color: $color0;
  font-size: 4rem;
  letter-spacing: 2px;
}

h3 {
  margin-bottom: 10px;
  color: $color0;
  font-size: 2em;
  letter-spacing: 2px;
}
